<!--
# * We will have a "/search" route that, with a "term" parameter, prints all 
#the artists and the songs which match the "term" parameter.
-->

<html>
  <body>
    <p>
      Hi there! You have visited this place <%= @visits %> times.
    </p>

    <p>
      Now lets get serious: Enter songtitles and author below:
    </p>

    <form action="/" method="post">
      <input name="title" />
       <input name="author" />
      <input type="submit" />
    </form>



    <% if @songs.any? %>
      <ul>
        <% @songs.each do |song| %>
          <li><%= song[0] %> by <%= song[1]%></li>
        <% end %>
      </ul>
    <% end %>


  </body>
</html>